<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Blog page</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/GitHub">GitHub</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Algorithms">Algorithms</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/CoreJava">Core Java</a>
        </li>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ObjectOrientedJava">Object-oriented Java</a>
        </li></li>
        <li class="nav-item">
            <a class="nav-link" href="/Bootstrap">Bootstrap&HTML</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Profile">Blog Author</a>
        </li>

    </ul>
</nav>

<table class="table">
    <thead>
    <tr>
        <th><h4><b>About the Java Bootcamp</b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 03 2019</th>
    </tr>
    <tr>
        <th scope="row">The Java Web Developer Boot Camp is an 8 hour a day (9 am - 5 pm, M-F) 8-week,<a href="About">View More</a></th>
    </tr>
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th><h4><b> What Is GitHub? </b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 03 2019</th>
    </tr>
    <tr>
        <th scope="row">GitHub is a code hosting platform for version control and collaboration.<a href="GitHub">View More</a></th>
    </tr>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th><h4><b>Steps in program development</b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 10 2019</th>
    </tr>
    <tr>
        <th scope="row">Define the problem.<a href="Algorithms">View More</a></th>
    </tr>
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th><h4><b>About Strings</b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 16 2019</th>
    </tr>
    <tr>
        <th scope="row">A string in literal terms is a series of characters.<a href="CoreJava">View More</a></th>
    </tr>
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th><h4><b>Classes and Objects</b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 21 2019</th>
    </tr>
    <tr>
        <th scope="row">Classes are code units or blocks developed by a programmer<a href="ObjectOrientedJava">View More</a></th>
    </tr>
    </tbody>
</table>
<table class="table">
    <thead>
    <tr>
        <th><h4><b>How Bootstrap Grid Works</b></h4></th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">September 25 2019</th>
    </tr>
    <tr>
        <th scope="row">Inside your page you must have one container which contains rows.<a href="Bootstrap">View More</a></th>
    </tr>
    </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>